# Default ignored files
target
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

../.idea
../hch-RPC.iml
misc.xml
modules.xml

